In [3]:
import pandas as pd
import preprocessing as pre
import domain as dom

problems = [
    dom.Problem.from_str("Ser_ax_b\tSer_ax_c"),
    dom.Problem.from_str("RA_ax_b\tRA_tap_b"),
    dom.Problem.from_str("SI_ax_b UpdateSer__b\tSer_ax_b"),
    dom.Problem.from_str("SI_ax_b UpdateSer__b\tSer_ax_c"),
]

df = pre.preprocess(pd.read_csv('/home/mane/code/minsolde/isolde-experiments/data/ebd6d29ca72afa.csv'), txn_num=(3,5), problems=problems, implementations = ["all", "no_learning"])
df

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,candidates,initial_clauses,final_clauses,avg_time_ms,min_time_ms,max_time_ms,outcome,expected
0,all,glucose,RA_b|TapRA_b,3,5,5,3,0,12470,12470,11,10,11,UNSAT,UNSAT
1,all,glucose,RA_b|TapRA_b,4,5,5,3,0,22776,22776,31,30,32,UNSAT,UNSAT
2,all,glucose,RA_b|TapRA_b,5,5,5,3,0,41150,41150,110,109,112,UNSAT,UNSAT
3,all,glucose,SI_b US_b|Ser_b,3,5,5,3,2,10613,10705,18,13,28,SAT,SAT
4,all,glucose,SI_b US_b|Ser_b,4,5,5,3,7,16631,17402,38,36,40,SAT,SAT
5,all,glucose,SI_b US_b|Ser_b,5,5,5,3,7,28292,29663,54,54,55,SAT,SAT
6,all,glucose,SI_b US_b|Ser_c,3,5,5,3,5,16626,18596,22,21,22,SAT,SAT
7,all,glucose,SI_b US_b|Ser_c,4,5,5,3,3,41449,43273,32,31,32,SAT,SAT
8,all,glucose,SI_b US_b|Ser_c,5,5,5,3,13,95234,106112,102,101,103,SAT,SAT
9,all,glucose,Ser_b|Ser_c,3,5,5,3,6,7365,10147,30,29,30,UNSAT,UNSAT
10,all,glucose,Ser_b|Ser_c,4,5,5,3,23,9826,22905,557,557,558,UNSAT,UNSAT
11,all,glucose,Ser_b|Ser_c,5,5,5,3,103,15251,79713,9788,9498,10263,UNSAT,UNSAT
12,no_learning,glucose,RA_b|TapRA_b,3,5,5,3,-1,-1,-1,300000,300000,300000,TIMEOUT,UNSAT
13,no_learning,glucose,SI_b US_b|Ser_b,3,5,5,3,-1,-1,-1,300000,300000,300000,TIMEOUT,SAT
14,no_learning,glucose,SI_b US_b|Ser_c,3,5,5,3,-1,-1,-1,300000,300000,300000,TIMEOUT,SAT
15,no_learning,glucose,Ser_b|Ser_c,3,5,5,3,-1,-1,-1,300000,300000,300000,TIMEOUT,UNSAT