In [1]:
import pandas as pd
import preprocessing as pre
import domain as dom

problems = [
    dom.Problem.from_str("Ser_ax_b\tSer_ax_c"),
    dom.Problem.from_str("RA_ax_b\tRA_tap_b"),
    dom.Problem.from_str("SI_ax_b UpdateSer__b\tSer_ax_b"),
    dom.Problem.from_str("SI_ax_b UpdateSer__b\tSer_ax_c"),
]

df = pre.preprocess(pd.read_csv('/home/mane/code/minsolde/isolde-experiments/data/80b8403f476d5b.csv'), txn_num=(3,5), problems=problems, implementations = ["all", "no_learning"])
df

all problem sets are disjoint: True

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,candidates,initial_clauses,final_clauses,avg_time_ms,min_time_ms,max_time_ms,outcome,expected
0,all,glucose,RA_b|TapRA_b,3,5,5,3,0,12470,12470,11,11,11,UNSAT,UNSAT
1,all,glucose,RA_b|TapRA_b,4,5,5,3,0,22776,22776,33,32,34,UNSAT,UNSAT
2,all,glucose,RA_b|TapRA_b,5,5,5,3,0,41150,41150,113,102,119,UNSAT,UNSAT
3,all,glucose,SI_b US_b|Ser_b,3,5,5,3,2,10613,10705,13,13,14,SAT,SAT
4,all,glucose,SI_b US_b|Ser_b,4,5,5,3,7,16631,17402,40,39,40,SAT,SAT
5,all,glucose,SI_b US_b|Ser_b,5,5,5,3,7,28292,29663,63,63,64,SAT,SAT
6,all,glucose,SI_b US_b|Ser_c,3,5,5,3,5,16626,18596,20,20,21,SAT,SAT
7,all,glucose,SI_b US_b|Ser_c,4,5,5,3,3,41449,43273,31,30,32,SAT,SAT
8,all,glucose,SI_b US_b|Ser_c,5,5,5,3,13,95234,106112,104,99,111,SAT,SAT
9,all,glucose,Ser_b|Ser_c,3,5,5,3,6,7365,10147,33,33,34,UNSAT,UNSAT
10,all,glucose,Ser_b|Ser_c,4,5,5,3,23,9826,22905,543,539,552,UNSAT,UNSAT
11,all,glucose,Ser_b|Ser_c,5,5,5,3,103,15251,79713,9655,9519,9843,UNSAT,UNSAT
12,no_learning,glucose,RA_b|TapRA_b,3,5,5,3,-1,-1,-1,3600000,3600000,3600000,TIMEOUT,UNSAT
13,no_learning,glucose,SI_b US_b|Ser_b,3,5,5,3,48036,7968,56003,41771,40923,42439,SAT,SAT
14,no_learning,glucose,SI_b US_b|Ser_b,4,5,5,3,18972,19177,38148,32102,31906,32272,SAT,SAT
15,no_learning,glucose,SI_b US_b|Ser_b,5,5,5,3,5539,43106,48644,14266,13389,15047,SAT,SAT
16,no_learning,glucose,SI_b US_b|Ser_c,3,5,5,3,4204,8356,12559,2714,2699,2734,SAT,SAT
17,no_learning,glucose,SI_b US_b|Ser_c,4,5,5,3,12702,20208,32909,16612,16572,16656,SAT,SAT
18,no_learning,glucose,SI_b US_b|Ser_c,5,5,5,3,809,45087,45895,2009,2001,2014,SAT,SAT
19,no_learning,glucose,Ser_b|Ser_c,3,5,5,3,-1,-1,-1,3600000,3600000,3600000,TIMEOUT,UNSAT

In [8]:
import pandas as pd
import preprocessing as pre
import domain as dom

df = pd.read_csv('/home/mane/code/minsolde/isolde-experiments/data/80b8403f476d5b.csv')
df = pre.typify(df)
df = pre.trim(df, txn_num=(10,10), implementations = ["all", "no_learning"])
df = df[~df['problem'].apply(lambda p: p.pos[0].name =='CC' and p.neg.name =='PC')]
df = pre.merge_rows(df, check_num_measurements=False)
with pd.option_context('display.max_rows', None):
    display(df)

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,candidates,initial_clauses,final_clauses,avg_time_ms,min_time_ms,max_time_ms,outcome,expected
0,all,glucose,CC_b|RA_b,10,5,5,3,0,69130,69130,40,38,42,UNSAT,UNSAT
1,all,glucose,CC_b|TapCC_b,10,5,5,3,0,333753,333753,8801,8595,8945,UNSAT,UNSAT
2,all,glucose,CC_c|CC_b,10,5,5,3,13,58838,117910,5735,5161,6029,UNSAT,UNSAT
3,all,glucose,CC_c|RA_c,10,5,5,3,0,0,0,6,5,6,UNSAT,UNSAT
4,all,glucose,PC_b|CC_b,10,5,5,3,0,75005,75005,43,40,47,UNSAT,UNSAT
5,all,glucose,PC_b|SI_b,10,5,5,3,1,141724,141724,309,278,337,SAT,SAT
6,all,glucose,PC_b|SI_c,10,5,5,3,1,111179,111179,55,54,56,SAT,SAT
7,all,glucose,PC_c|CC_c,10,5,5,3,0,31839,31839,14,12,15,UNSAT,UNSAT
8,all,glucose,PC_c|PC_b,10,5,5,3,1,58278,87088,2603,2574,2623,UNSAT,UNSAT
9,all,glucose,PC_c|SI_b,10,5,5,3,1,1390304,1390304,889,878,906,SAT,SAT
10,all,glucose,PC_c|SI_c,10,5,5,3,1,32773,32773,20,20,20,SAT,SAT
11,all,glucose,RA_b|CC_b,10,5,5,3,1,69375,69375,55,53,57,SAT,SAT
12,all,glucose,RA_b|CC_c,10,5,5,3,1,82670,82670,60,44,89,SAT,SAT
13,all,glucose,RA_b|RA_c,10,5,5,3,0,0,0,17,17,17,UNSAT,UNSAT
14,all,glucose,RA_b|TapRA_b,10,5,5,3,0,295495,295495,6402,6259,6485,UNSAT,UNSAT
15,all,glucose,RA_c|CC_b,10,5,5,3,1,58190,58190,39,39,39,SAT,SAT
16,all,glucose,RA_c|CC_c,10,5,5,3,2,31551,38193,939,908,958,SAT,SAT
17,all,glucose,RA_c|RA_b,10,5,5,3,7,41370,82016,2670,2652,2702,UNSAT,UNSAT
18,all,glucose,SI_b|PC_b,10,5,5,3,0,147469,147469,243,237,250,UNSAT,UNSAT
19,all,glucose,SI_b|Ser_b,10,5,5,3,2,147008,150369,572,565,578,SAT,SAT
20,all,glucose,SI_b|Ser_c,10,5,5,3,3,1391125,1401031,1911,1837,1955,SAT,SAT
21,all,glucose,SI_b US_b|Ser_b,10,5,5,3,27,204838,234279,1095,1075,1120,SAT,SAT
22,all,glucose,SI_b US_b|Ser_c,10,5,5,3,9,1442859,1468016,4166,3797,4408,SAT,SAT
23,all,glucose,SI_b US_c|Ser_b,10,5,5,3,8,1396491,1407943,1107,1060,1174,SAT,SAT
24,all,glucose,SI_b US_c|Ser_c,10,5,5,3,6,1391504,1409530,2512,2461,2548,SAT,SAT
25,all,glucose,SI_c|PC_c,10,5,5,3,0,0,0,7,6,7,UNSAT,UNSAT
26,all,glucose,SI_c|SI_b,10,5,5,3,12,1391883,1762277,253115,246702,258239,UNSAT,UNSAT
27,all,glucose,SI_c|Ser_b,10,5,5,3,1,43406,43406,38,37,39,SAT,SAT
28,all,glucose,SI_c|Ser_c,10,5,5,3,2,33879,40521,57,55,60,SAT,SAT
29,all,glucose,SI_c US_b|Ser_b,10,5,5,3,2,91680,95041,87,87,88,SAT,SAT
30,all,glucose,SI_c US_b|Ser_c,10,5,5,3,18,86693,148745,12145,11463,12811,SAT,SAT
31,all,glucose,SI_c US_c|Ser_b,10,5,5,3,2,75388,79289,2345,2338,2352,SAT,SAT
32,all,glucose,SI_c US_c|Ser_c,10,5,5,3,51,67240,239143,47916,45342,49982,SAT,SAT
33,all,glucose,Ser_b|SI_b,10,5,5,3,0,145025,145025,22119,21400,23336,UNSAT,UNSAT
34,all,glucose,Ser_c|SI_c,10,5,5,3,0,32817,32817,17,14,24,UNSAT,UNSAT
35,all,glucose,Ser_c|Ser_b,10,5,5,3,1,41588,45433,509,507,514,UNSAT,UNSAT
36,all,glucose,TapCC_b|CC_b,10,5,5,3,0,323137,323137,171,166,174,UNSAT,UNSAT
37,all,glucose,TapRA_b|RA_b,10,5,5,3,1,277884,277884,192,188,196,SAT,SAT
38,no_learning,glucose,CC_c|RA_c,10,5,5,3,0,0,0,10572,9312,11928,UNSAT,UNSAT
39,no_learning,glucose,PC_b|SI_b,10,5,5,3,1,814524,814524,881,819,939,SAT,SAT
40,no_learning,glucose,PC_b|SI_c,10,5,5,3,1,70144,70144,7771,4676,11676,SAT,SAT
41,no_learning,glucose,PC_c|SI_b,10,5,5,3,1,816269,816269,64503,1008,100206,SAT,SAT
42,no_learning,glucose,PC_c|SI_c,10,5,5,3,1,51339,51339,36,34,37,SAT,SAT
43,no_learning,glucose,RA_b|CC_b,10,5,5,3,1,49491,49491,66,66,66,SAT,SAT
44,no_learning,glucose,RA_b|CC_c,10,5,5,3,46,56502,56547,41432,37388,44518,SAT,SAT
45,no_learning,glucose,RA_b|RA_c,10,5,5,3,0,0,0,10573,10566,10581,UNSAT,UNSAT
46,no_learning,glucose,RA_c|CC_b,10,5,5,3,1,61984,61984,45,45,45,SAT,SAT
47,no_learning,glucose,RA_c|CC_c,10,5,5,3,18,48445,48462,462,442,503,SAT,SAT
48,no_learning,glucose,SI_b|Ser_b,10,5,5,3,7,615514,615520,903,890,916,SAT,SAT
49,no_learning,glucose,SI_b|Ser_c,10,5,5,3,188,629910,630097,81497,80545,83152,SAT,SAT
50,no_learning,glucose,SI_b US_b|Ser_b,10,5,5,3,653,636161,636813,21414,21007,22033,SAT,SAT
51,no_learning,glucose,SI_b US_b|Ser_c,10,5,5,3,1,650557,650557,802,777,820,SAT,SAT
52,no_learning,glucose,SI_b US_c|Ser_b,10,5,5,3,587,648518,649104,24866,24688,24973,SAT,SAT
53,no_learning,glucose,SI_b US_c|Ser_c,10,5,5,3,-1,-1,-1,3600000,3600000,3600000,TIMEOUT,SAT
54,no_learning,glucose,SI_c|Ser_b,10,5,5,3,1101,56079,57179,20552,20250,20721,SAT,SAT
55,no_learning,glucose,SI_c|Ser_c,10,5,5,3,1,49925,49925,39,39,40,SAT,SAT
56,no_learning,glucose,SI_c US_b|Ser_b,10,5,5,3,4596,76951,81546,100367,98986,101873,SAT,SAT
57,no_learning,glucose,SI_c US_b|Ser_c,10,5,5,3,724,74962,75685,347488,346261,348565,SAT,SAT
58,no_learning,glucose,SI_c US_c|Ser_b,10,5,5,3,4474,72698,77171,72994,72258,73514,SAT,SAT
59,no_learning,glucose,SI_c US_c|Ser_c,10,5,5,3,-1,-1,-1,3600000,3600000,3600000,TIMEOUT,SAT
60,no_learning,glucose,TapRA_b|RA_b,10,5,5,3,1,150278,150278,166,162,172,SAT,SAT

In [3]:
import vldb
df['frameworks'] = df['problem'].apply(lambda p: len(p.frameworks()))
data = vldb.dfToTableData(df, txn_lim=5)
data

{'all': {('UNSAT', 2): {3: ((1, 0), (90, 1)),
   4: ((2, 0), (836, 35)),
   5: ((3, 0), (9655, 103))},
  ('UNSAT', 1): {3: ((1, 0), (13, 0)),
   4: ((1, 0), (35, 0)),
   5: ((2, 0), (114, 0))},
  ('SAT', 1): {3: ((3, 1), (32, 1)),
   4: ((4, 1), (40, 7)),
   5: ((5, 1), (63, 7))},
  ('SAT', 2): {3: ((5, 2), (50, 7)),
   4: ((10, 3), (56, 10)),
   5: ((11, 2), (104, 13))}},
 'no_learning': {('UNSAT', 2): {3: ((1180, 0), (3600000, -1)),
   4: ((1950, 0), (3600000, -1)),
   5: ((2345, 0), (3600000, -1))},
  ('UNSAT', 1): {3: ((1155, 0), (3600000, -1)),
   4: ((1924, 0), (3600000, -1)),
   5: ((2701, 0), (3600000, -1))},
  ('SAT', 1): {3: ((3, 1), (41771, 48036)),
   4: ((4, 1), (52990, 45093)),
   5: ((7, 1), (123032, 57606))},
  ('SAT', 2): {3: ((26, 21), (318838, 453561)),
   4: ((67, 28), (88857, 43678)),
   5: ((9, 1), (31671, 11145))}}}

In [4]:
print(vldb.table3Header)
print(vldb.formatTable3(data))
print(r"\bottomrule")

\toprule
                    & \multicolumn{3}{c}{SAT single fw} & \multicolumn{3}{c}{SAT diff fws} & \multicolumn{3}{c}{UNSAT single fw} & \multicolumn{3}{c}{UNSAT diff fws} \\
		\cmidrule(lr){2-13}
                    & 3 & 4 & 5 & 3 & 4 & 5 & 3 & 4 & 5  & 3 & 4 & 5 \\

\midrule
\multirow{2}{*}{all} & 32 & 40 & 63 & 50 & 56 & 104 & 13 & 35 & 114 & 90 & 836 & 9655\\
 & 1 & 7 & 7 & 7 & 10 & 13 & 0 & 0 & 0 & 1 & 35 & 103\\

\midrule
\multirow{2}{*}{no learning} & 41771 & 52990 & 123032 & 318838 & 88857 & 31671 & \multirow{2}{*}{TO} & \multirow{2}{*}{TO} & \multirow{2}{*}{TO} & \multirow{2}{*}{TO} & \multirow{2}{*}{TO} & \multirow{2}{*}{TO}\\
 & 48036 & 45093 & 57606 & 453561 & 43678 & 11145 &  &  &  &  &  & \\


\bottomrule

In [5]:
df = pd.read_csv('/home/mane/code/minsolde/isolde-experiments/data/80b8403f476d5b.csv')
df = pre.typify(df)
df = pre.trim(df, txn_num=(3,5), implementations = ["all", "no_fixed_co", "no_smart_search", "no_incremental"])
df = df[~df['problem'].apply(lambda p: p.pos[0].name =='CC' and p.neg.name =='PC')]
df = pre.merge_rows(df, check_num_measurements=False)
df

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,candidates,initial_clauses,final_clauses,avg_time_ms,min_time_ms,max_time_ms,outcome,expected
0,all,glucose,CC_b|CC_c,3,5,5,3,3,7530,8398,10,10,10,UNSAT,UNSAT
1,all,glucose,CC_b|CC_c,4,5,5,3,36,10738,17330,302,299,304,UNSAT,UNSAT
2,all,glucose,CC_b|CC_c,5,5,5,3,483,17255,88805,6788,6769,6798,UNSAT,UNSAT
3,all,glucose,CC_b|RA_b,3,5,5,3,0,7522,7522,3,3,3,UNSAT,UNSAT
4,all,glucose,CC_b|RA_b,4,5,5,3,0,9855,9855,5,5,5,UNSAT,UNSAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,no_smart_search,glucose,TapCC_b|CC_b,4,5,5,3,1,25101,26036,26,25,26,UNSAT,UNSAT
500,no_smart_search,glucose,TapCC_b|CC_b,5,5,5,3,2,45316,47582,52,52,52,UNSAT,UNSAT
501,no_smart_search,glucose,TapRA_b|RA_b,3,5,5,3,1,13068,13068,8,8,8,SAT,SAT
502,no_smart_search,glucose,TapRA_b|RA_b,4,5,5,3,1,23195,23195,13,13,14,SAT,SAT
503,no_smart_search,glucose,TapRA_b|RA_b,5,5,5,3,2,40998,43653,27,27,27,SAT,SAT

In [6]:
import vldb
df['frameworks'] = df['problem'].apply(lambda p: len(p.frameworks()))
data = vldb.dfToTableData(df, txn_lim=5)
print(vldb.table2Header)
print(vldb.formatTable2(data))
print(r"\bottomrule")

\toprule
                    & SAT single fw & SAT diff fws & UNSAT single fw & UNSAT diff fws \\

\midrule
\multirow{2}{*}{all} & 63 & 104 & 114 & 9655\\

 & 7 & 13 & 0 & 103\\

\midrule
\multirow{2}{*}{no fixed co} & 76 & 140 & 6183 & 22672\\

 & 4 & 13 & 0 & 819\\

\midrule
\multirow{2}{*}{no incremental} & 1599 & 994 & 153 & 76277\\

 & 25 & 27 & 0 & 260\\

\midrule
\multirow{2}{*}{no smart search} & 89 & 139 & 1249 & 10917\\

 & 15 & 14 & 206 & 264\\


\bottomrule