In [1]:
import pandas as pd
df = pd.read_csv('/home/mane/code/minsolde/isolde-experiments/data/ebd6d29ca72afa.csv')
df

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,synth_time_ms,check_time_ms,total_time_ms,initial_synth_clauses,total_synth_clauses,outcome,candidates,runId,endTime
0,all,GLUCOSE,RA_ax_b\tCC_ax_b,3,5,5,3,58,13,71,7543,7543,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:35
1,all,GLUCOSE,RA_ax_b\tCC_ax_b,3,5,5,3,35,9,45,7543,7543,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36
2,all,GLUCOSE,RA_ax_b\tCC_ax_b,3,5,5,3,35,7,43,7543,7543,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36
3,all,GLUCOSE,RA_ax_b\tCC_ax_b,4,5,5,3,22,7,30,9893,9893,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36
4,all,GLUCOSE,RA_ax_b\tCC_ax_b,4,5,5,3,23,7,30,9893,9893,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2906,no_learning,GLUCOSE,PC_ax_c\tPC_ax_b,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:03:14
2907,no_learning,GLUCOSE,SI_ax_b\tSI_ax_c,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:08:15
2908,no_learning,GLUCOSE,SI_ax_c\tSI_ax_b,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:13:15
2909,no_learning,GLUCOSE,Ser_ax_b\tSer_ax_c,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:18:15
2910,no_learning,GLUCOSE,Ser_ax_c\tSer_ax_b,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:23:16

In [2]:
import preprocessing as pre

df = pre.typify(df)
df

all problem sets are disjoint: True

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,synth_time_ms,check_time_ms,total_time_ms,initial_synth_clauses,total_synth_clauses,outcome,candidates,runId,endTime,expected
0,all,glucose,RA_b|CC_b,3,5,5,3,58,13,71,7543,7543,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:35,SAT
1,all,glucose,RA_b|CC_b,3,5,5,3,35,9,45,7543,7543,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
2,all,glucose,RA_b|CC_b,3,5,5,3,35,7,43,7543,7543,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
3,all,glucose,RA_b|CC_b,4,5,5,3,22,7,30,9893,9893,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
4,all,glucose,RA_b|CC_b,4,5,5,3,23,7,30,9893,9893,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2906,no_learning,glucose,PC_c|PC_b,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:03:14,UNSAT
2907,no_learning,glucose,SI_b|SI_c,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:08:15,UNSAT
2908,no_learning,glucose,SI_c|SI_b,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:13:15,UNSAT
2909,no_learning,glucose,Ser_b|Ser_c,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:18:15,UNSAT
2910,no_learning,glucose,Ser_c|Ser_b,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:23:16,UNSAT

In [3]:
df[~(df['outcome'] == 'TIMEOUT') & (df['outcome'] != df['expected'])]

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,synth_time_ms,check_time_ms,total_time_ms,initial_synth_clauses,total_synth_clauses,outcome,candidates,runId,endTime,expected
30,all,glucose,CC_b|PC_b,3,5,5,3,9,2,12,7534,8320,UNSAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
31,all,glucose,CC_b|PC_b,3,5,5,3,9,2,12,7534,8320,UNSAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
32,all,glucose,CC_b|PC_b,3,5,5,3,9,2,12,7534,8320,UNSAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
45,all,glucose,CC_c|PC_c,3,5,5,3,5,1,7,6490,6758,UNSAT,1,12/02/2026 07:42:35,12/02/2026 07:42:37,SAT
46,all,glucose,CC_c|PC_c,3,5,5,3,4,1,6,6490,6758,UNSAT,1,12/02/2026 07:42:35,12/02/2026 07:42:37,SAT
47,all,glucose,CC_c|PC_c,3,5,5,3,5,1,6,6490,6758,UNSAT,1,12/02/2026 07:42:35,12/02/2026 07:42:37,SAT
195,all,glucose,CC_b|PC_c,3,5,5,3,7,1,12,7527,8395,UNSAT,3,12/02/2026 07:42:35,12/02/2026 07:42:42,SAT
196,all,glucose,CC_b|PC_c,3,5,5,3,7,2,12,7527,8395,UNSAT,3,12/02/2026 07:42:35,12/02/2026 07:42:42,SAT
197,all,glucose,CC_b|PC_c,3,5,5,3,7,2,12,7527,8395,UNSAT,3,12/02/2026 07:42:35,12/02/2026 07:42:42,SAT
210,all,glucose,CC_c|PC_b,3,5,5,3,7,2,11,7803,9380,UNSAT,2,12/02/2026 07:42:35,12/02/2026 07:42:43,SAT
211,all,glucose,CC_c|PC_b,3,5,5,3,7,2,11,7803,9380,UNSAT,2,12/02/2026 07:42:35,12/02/2026 07:42:43,SAT
212,all,glucose,CC_c|PC_b,3,5,5,3,8,2,12,7803,9380,UNSAT,2,12/02/2026 07:42:35,12/02/2026 07:42:43,SAT
706,no_smart_search,glucose,CC_b|PC_b,3,5,5,3,8,3,12,7859,9448,UNSAT,3,12/02/2026 07:42:35,12/02/2026 08:18:44,SAT
707,no_smart_search,glucose,CC_b|PC_b,3,5,5,3,8,3,12,7859,9448,UNSAT,3,12/02/2026 07:42:35,12/02/2026 08:18:44,SAT
708,no_smart_search,glucose,CC_b|PC_b,3,5,5,3,8,3,12,7859,9448,UNSAT,3,12/02/2026 07:42:35,12/02/2026 08:18:44,SAT
721,no_smart_search,glucose,CC_c|PC_c,3,5,5,3,7,0,12,7951,9036,UNSAT,5,12/02/2026 07:42:35,12/02/2026 08:18:44,SAT
722,no_smart_search,glucose,CC_c|PC_c,3,5,5,3,7,0,12,7951,9036,UNSAT,5,12/02/2026 07:42:35,12/02/2026 08:18:44,SAT
723,no_smart_search,glucose,CC_c|PC_c,3,5,5,3,7,0,12,7951,9036,UNSAT,5,12/02/2026 07:42:35,12/02/2026 08:18:44,SAT
871,no_smart_search,glucose,CC_b|PC_c,3,5,5,3,6,0,11,7639,8507,UNSAT,3,12/02/2026 07:42:35,12/02/2026 08:18:50,SAT
872,no_smart_search,glucose,CC_b|PC_c,3,5,5,3,6,0,11,7639,8507,UNSAT,3,12/02/2026 07:42:35,12/02/2026 08:18:50,SAT
873,no_smart_search,glucose,CC_b|PC_c,3,5,5,3,6,0,11,7639,8507,UNSAT,3,12/02/2026 07:42:35,12/02/2026 08:18:50,SAT
886,no_smart_search,glucose,CC_c|PC_b,3,5,5,3,9,3,14,9194,11233,UNSAT,3,12/02/2026 07:42:35,12/02/2026 08:18:51,SAT
887,no_smart_search,glucose,CC_c|PC_b,3,5,5,3,9,3,15,9194,11233,UNSAT,3,12/02/2026 07:42:35,12/02/2026 08:18:51,SAT
888,no_smart_search,glucose,CC_c|PC_b,3,5,5,3,9,3,14,9194,11233,UNSAT,3,12/02/2026 07:42:35,12/02/2026 08:18:51,SAT
1380,no_fixed_co,glucose,CC_b|PC_b,3,5,5,3,5,0,8,8051,9448,UNSAT,2,12/02/2026 07:42:35,12/02/2026 09:03:48,SAT
1381,no_fixed_co,glucose,CC_b|PC_b,3,5,5,3,5,0,8,8051,9448,UNSAT,2,12/02/2026 07:42:35,12/02/2026 09:03:48,SAT
1382,no_fixed_co,glucose,CC_b|PC_b,3,5,5,3,5,0,8,8051,9448,UNSAT,2,12/02/2026 07:42:35,12/02/2026 09:03:48,SAT
1395,no_fixed_co,glucose,CC_c|PC_c,3,5,5,3,4,0,7,7359,8112,UNSAT,4,12/02/2026 07:42:35,12/02/2026 09:03:48,SAT
1396,no_fixed_co,glucose,CC_c|PC_c,3,5,5,3,4,0,7,7359,8112,UNSAT,4,12/02/2026 07:42:35,12/02/2026 09:03:48,SAT
1397,no_fixed_co,glucose,CC_c|PC_c,3,5,5,3,4,0,7,7359,8112,UNSAT,4,12/02/2026 07:42:35,12/02/2026 09:03:48,SAT
1545,no_fixed_co,glucose,CC_b|PC_c,3,5,5,3,8,0,15,8338,9423,UNSAT,5,12/02/2026 07:42:35,12/02/2026 09:03:55,SAT
1546,no_fixed_co,glucose,CC_b|PC_c,3,5,5,3,8,0,15,8338,9423,UNSAT,5,12/02/2026 07:42:35,12/02/2026 09:03:55,SAT
1547,no_fixed_co,glucose,CC_b|PC_c,3,5,5,3,7,0,15,8338,9423,UNSAT,5,12/02/2026 07:42:35,12/02/2026 09:03:55,SAT
1560,no_fixed_co,glucose,CC_c|PC_b,3,5,5,3,7,3,13,8602,10371,UNSAT,3,12/02/2026 07:42:35,12/02/2026 09:03:56,SAT
1561,no_fixed_co,glucose,CC_c|PC_b,3,5,5,3,7,3,13,8602,10371,UNSAT,3,12/02/2026 07:42:35,12/02/2026 09:03:56,SAT
1562,no_fixed_co,glucose,CC_c|PC_b,3,5,5,3,7,3,13,8602,10371,UNSAT,3,12/02/2026 07:42:35,12/02/2026 09:03:56,SAT
2051,no_incremental,glucose,CC_b|PC_b,3,5,5,3,7,1,9,3946,4524,UNSAT,1,12/02/2026 07:42:35,12/02/2026 10:24:03,SAT
2052,no_incremental,glucose,CC_b|PC_b,3,5,5,3,7,1,9,3946,4524,UNSAT,1,12/02/2026 07:42:35,12/02/2026 10:24:03,SAT
2053,no_incremental,glucose,CC_b|PC_b,3,5,5,3,7,1,9,3946,4524,UNSAT,1,12/02/2026 07:42:35,12/02/2026 10:24:03,SAT
2066,no_incremental,glucose,CC_c|PC_c,3,5,5,3,4,0,5,3397,3512,UNSAT,1,12/02/2026 07:42:35,12/02/2026 10:24:03,SAT
2067,no_incremental,glucose,CC_c|PC_c,3,5,5,3,4,0,5,3397,3512,UNSAT,1,12/02/2026 07:42:35,12/02/2026 10:24:03,SAT
2068,no_incremental,glucose,CC_c|PC_c,3,5,5,3,4,0,5,3397,3512,UNSAT,1,12/02/2026 07:42:35,12/02/2026 10:24:03,SAT
2216,no_incremental,glucose,CC_b|PC_c,3,5,5,3,17,0,21,3970,4338,UNSAT,3,12/02/2026 07:42:35,12/02/2026 10:24:22,SAT
2217,no_incremental,glucose,CC_b|PC_c,3,5,5,3,17,0,21,3970,4338,UNSAT,3,12/02/2026 07:42:35,12/02/2026 10:24:22,SAT
2218,no_incremental,glucose,CC_b|PC_c,3,5,5,3,17,0,21,3970,4338,UNSAT,3,12/02/2026 07:42:35,12/02/2026 10:24:22,SAT
2231,no_incremental,glucose,CC_c|PC_b,3,5,5,3,19,3,25,4183,5347,UNSAT,3,12/02/2026 07:42:35,12/02/2026 10:24:23,SAT
2232,no_incremental,glucose,CC_c|PC_b,3,5,5,3,19,3,25,4183,5347,UNSAT,3,12/02/2026 07:42:35,12/02/2026 10:24:23,SAT
2233,no_incremental,glucose,CC_c|PC_b,3,5,5,3,19,3,24,4183,5347,UNSAT,3,12/02/2026 07:42:35,12/02/2026 10:24:23,SAT

In [4]:
import domain as dom
df = df[~df['problem'].apply(lambda p: p.pos[0].name =='CC' and p.neg.name =='PC')]
df

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,synth_time_ms,check_time_ms,total_time_ms,initial_synth_clauses,total_synth_clauses,outcome,candidates,runId,endTime,expected
0,all,glucose,RA_b|CC_b,3,5,5,3,58,13,71,7543,7543,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:35,SAT
1,all,glucose,RA_b|CC_b,3,5,5,3,35,9,45,7543,7543,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
2,all,glucose,RA_b|CC_b,3,5,5,3,35,7,43,7543,7543,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
3,all,glucose,RA_b|CC_b,4,5,5,3,22,7,30,9893,9893,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
4,all,glucose,RA_b|CC_b,4,5,5,3,23,7,30,9893,9893,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2906,no_learning,glucose,PC_c|PC_b,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:03:14,UNSAT
2907,no_learning,glucose,SI_b|SI_c,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:08:15,UNSAT
2908,no_learning,glucose,SI_c|SI_b,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:13:15,UNSAT
2909,no_learning,glucose,Ser_b|Ser_c,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:18:15,UNSAT
2910,no_learning,glucose,Ser_c|Ser_b,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:23:16,UNSAT

In [5]:
df = pre.trim(df, txn_num=(3,5), implementations=["all", "no_learning"])
df

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,synth_time_ms,check_time_ms,total_time_ms,initial_synth_clauses,total_synth_clauses,outcome,candidates,runId,endTime,expected
0,all,glucose,RA_b|CC_b,3,5,5,3,58,13,71,7543,7543,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:35,SAT
1,all,glucose,RA_b|CC_b,3,5,5,3,35,9,45,7543,7543,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
2,all,glucose,RA_b|CC_b,3,5,5,3,35,7,43,7543,7543,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
3,all,glucose,RA_b|CC_b,4,5,5,3,22,7,30,9893,9893,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
4,all,glucose,RA_b|CC_b,4,5,5,3,23,7,30,9893,9893,SAT,1,12/02/2026 07:42:35,12/02/2026 07:42:36,SAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2906,no_learning,glucose,PC_c|PC_b,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:03:14,UNSAT
2907,no_learning,glucose,SI_b|SI_c,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:08:15,UNSAT
2908,no_learning,glucose,SI_c|SI_b,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:13:15,UNSAT
2909,no_learning,glucose,Ser_b|Ser_c,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:18:15,UNSAT
2910,no_learning,glucose,Ser_c|Ser_b,3,5,5,3,-1,-1,300000,-1,-1,TIMEOUT,-1,12/02/2026 07:42:35,13/02/2026 02:23:16,UNSAT

In [6]:
df = pre.merge_rows(df, check_num_measurements=False)
df

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,candidates,initial_clauses,final_clauses,avg_time_ms,min_time_ms,max_time_ms,outcome,expected
0,all,glucose,CC_b|CC_c,3,5,5,3,3,7530,8398,11,11,11,UNSAT,UNSAT
1,all,glucose,CC_b|CC_c,4,5,5,3,36,10738,17330,316,313,321,UNSAT,UNSAT
2,all,glucose,CC_b|CC_c,5,5,5,3,483,17255,88805,6579,6379,6795,UNSAT,UNSAT
3,all,glucose,CC_b|RA_b,3,5,5,3,0,7522,7522,4,4,4,UNSAT,UNSAT
4,all,glucose,CC_b|RA_b,4,5,5,3,0,9855,9855,5,5,5,UNSAT,UNSAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,no_learning,glucose,Ser_b|Ser_c,3,5,5,3,-1,-1,-1,300000,300000,300000,TIMEOUT,UNSAT
190,no_learning,glucose,Ser_c|SI_c,3,5,5,3,-1,-1,-1,300000,300000,300000,TIMEOUT,UNSAT
191,no_learning,glucose,Ser_c|Ser_b,3,5,5,3,-1,-1,-1,300000,300000,300000,TIMEOUT,UNSAT
192,no_learning,glucose,TapCC_b|CC_b,3,5,5,3,-1,-1,-1,300000,300000,300000,TIMEOUT,UNSAT
193,no_learning,glucose,TapRA_b|RA_b,3,5,5,3,-1,-1,-1,300000,300000,300000,TIMEOUT,SAT

In [27]:
# Group by your two features and get the index of the row with max 'b' in each group
dff = df[df['implementation'] == 'all'].copy()
dff['frameworks'] = dff['problem'].apply(lambda p: len(p.frameworks()))
result = dff.loc[dff.groupby(['frameworks', 'expected'])['avg_time_ms'].idxmax()]
result

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,candidates,initial_clauses,final_clauses,avg_time_ms,min_time_ms,max_time_ms,outcome,expected,frameworks
74,all,glucose,SI_b US_b|Ser_b,5,5,5,3,7,28292,29663,54,54,55,SAT,SAT,1
50,all,glucose,RA_b|TapRA_b,5,5,5,3,0,41150,41150,110,109,112,UNSAT,UNSAT,1
77,all,glucose,SI_b US_b|Ser_c,5,5,5,3,13,95234,106112,102,101,103,SAT,SAT,2
113,all,glucose,Ser_b|Ser_c,5,5,5,3,103,15251,79713,9788,9498,10263,UNSAT,UNSAT,2

In [28]:
# Group by your two features and get the index of the row with max 'b' in each group
dff = df[df['implementation'] == 'no_learning'].copy()
dff = dff[dff['outcome'] != 'TIMEOUT']
dff['frameworks'] = dff['problem'].apply(lambda p: len(p.frameworks()))
result = dff.loc[dff.groupby(['frameworks', 'expected'])['avg_time_ms'].idxmax()]
result

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,candidates,initial_clauses,final_clauses,avg_time_ms,min_time_ms,max_time_ms,outcome,expected,frameworks
182,no_learning,glucose,SI_c|Ser_c,5,5,5,3,535,10780,11314,82078,62619,101476,SAT,SAT,1
132,no_learning,glucose,CC_c|RA_c,5,5,5,3,0,0,0,347,7,1024,UNSAT,UNSAT,1
185,no_learning,glucose,SI_c US_c|Ser_b,3,5,5,3,1008,6035,7042,136267,101488,165325,SAT,SAT,2
156,no_learning,glucose,RA_b|RA_c,5,5,5,3,0,0,0,5143,5128,5159,UNSAT,UNSAT,2

In [4]:

df['avg_time_ms'] = df['avg_time_ms'].replace(300000, '-')

df_pivoted = df.pivot(
    index='problem',           # Rows
    columns='num_txn',         # New columns
    values='avg_time_ms'           # Values to fill
)

# Rename columns to be more descriptive
df_pivoted.columns = [f'time_ms_txn_{col}' for col in df_pivoted.columns]

# Reset index if you want 'problem' as a regular column
df_pivoted = df_pivoted.reset_index()


df_pivoted["sat_order"] = df_pivoted["problem"].apply(lambda p: "a" if sat(p) else "b")
df_pivoted["sat"] = df_pivoted["problem"].apply(lambda p: "Yes" if sat(p) else "No")
df_pivoted["frameworks"] = df_pivoted["problem"].apply(lambda p: rf'\({showframeworks(frameworks(p))}\)')
df_pivoted["length_fw"] = df_pivoted["frameworks"].apply(len)


# Create a mapping from value to position
order_map = {val: idx for idx, val in enumerate(all_problems_flatten)}

# Create temporary sort key
df_pivoted['sort_key'] = df_pivoted['problem'].map(order_map)

df_pivoted = df_pivoted.sort_values(by=['sat_order', 'length_fw', 'frameworks', 'sort_key']).reset_index(drop=True)
df_pivoted["problem_str"] = df_pivoted["problem"].apply(problem_as_latex)

# Drop the temporary column
df_pivoted = df_pivoted.drop('sort_key', axis=1)
df_pivoted = df_pivoted.drop('length_fw', axis=1)
df_pivoted = df_pivoted.drop('sat_order', axis=1)


df_pivoted

,problem,time_ms_txn_3,time_ms_txn_4,time_ms_txn_5,time_ms_txn_6,time_ms_txn_7,time_ms_txn_8,time_ms_txn_9,time_ms_txn_10,sat,frameworks,problem_str
0,RA_b\tCC_b,NaN,30,44,36,NaN,78,NaN,60,Yes,\(\mathcal{B}\),"$\{\textsc{RA}_{\mathcal{B}}, \, \overline{\te..."
1,CC_b\tPC_b,NaN,12,43,49,NaN,357,NaN,213,Yes,\(\mathcal{B}\),"$\{\textsc{CC}_{\mathcal{B}}, \, \overline{\te..."
2,PC_b\tSI_b,NaN,16,44,51,NaN,120,NaN,282,Yes,\(\mathcal{B}\),"$\{\textsc{PC}_{\mathcal{B}}, \, \overline{\te..."
3,SI_b\tSer_b,NaN,16,39,43,NaN,132,NaN,549,Yes,\(\mathcal{B}\),"$\{\textsc{SI}_{\mathcal{B}}, \, \overline{\te..."
4,SI_b UpdateSer_b\tSer_b,NaN,37,57,87,NaN,488,NaN,957,Yes,\(\mathcal{B}\),"$\{\textsc{SI}_{\mathcal{B}},\ \textsc{US}_{\m..."
5,PlumeRA_b\tRA_b,NaN,17,30,35,NaN,109,NaN,187,Yes,\(\mathcal{B}\),"$\{\textsc{TapRA}_{\mathcal{B}}, \, \overline{..."
6,RA_c\tCC_c,NaN,8,22,14,NaN,29,NaN,3022,Yes,\(\mathcal{C}\),"$\{\textsc{RA}_{\mathcal{C}}, \, \overline{\te..."
7,CC_c\tPC_c,NaN,7,27,8,NaN,22,NaN,24,Yes,\(\mathcal{C}\),"$\{\textsc{CC}_{\mathcal{C}}, \, \overline{\te..."
8,PC_c\tSI_c,NaN,6,10,8,NaN,14,NaN,22,Yes,\(\mathcal{C}\),"$\{\textsc{PC}_{\mathcal{C}}, \, \overline{\te..."
9,SI_c\tSer_c,NaN,9,16,11,NaN,28,NaN,1442,Yes,\(\mathcal{C}\),"$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\te..."
10,SI_c UpdateSer_c\tSer_c,61,14,39,74,253,285,2466,5544,Yes,\(\mathcal{C}\),"$\{\textsc{SI}_{\mathcal{C}},\ \textsc{US}_{\m..."
11,RA_b\tCC_c,NaN,25,27,30,NaN,65,NaN,3012,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{RA}_{\mathcal{B}}, \, \overline{\te..."
12,RA_c\tCC_b,NaN,11,23,15,NaN,66,NaN,33,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{RA}_{\mathcal{C}}, \, \overline{\te..."
13,CC_b\tPC_c,NaN,47,46,47,NaN,42,NaN,74,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{CC}_{\mathcal{B}}, \, \overline{\te..."
14,CC_c\tPC_b,NaN,18,43,13,NaN,92,NaN,327,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{CC}_{\mathcal{C}}, \, \overline{\te..."
15,PC_b\tSI_c,NaN,13,17,27,NaN,44,NaN,73,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{PC}_{\mathcal{B}}, \, \overline{\te..."
16,PC_c\tSI_b,NaN,41,60,107,NaN,404,NaN,971,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{PC}_{\mathcal{C}}, \, \overline{\te..."
17,SI_b\tSer_c,NaN,33,62,112,NaN,351,NaN,3813,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{SI}_{\mathcal{B}}, \, \overline{\te..."
18,SI_c\tSer_b,NaN,9,17,26,NaN,51,NaN,34,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\te..."
19,SI_c UpdateSer_c\tSer_b,NaN,10,61,100,NaN,83,NaN,2500,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{SI}_{\mathcal{C}},\ \textsc{US}_{\m..."
20,SI_c UpdateSer_b\tSer_c,22,35,47,137,64,485,7676,21765,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{SI}_{\mathcal{C}},\ \textsc{US}_{\m..."
21,SI_c UpdateSer_b\tSer_b,NaN,34,113,35,NaN,102,NaN,71,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{SI}_{\mathcal{C}},\ \textsc{US}_{\m..."
22,SI_b UpdateSer_c\tSer_c,NaN,45,170,115,NaN,389,NaN,6740,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{SI}_{\mathcal{B}},\ \textsc{US}_{\m..."
23,SI_b UpdateSer_c\tSer_b,NaN,75,62,161,NaN,536,NaN,1419,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{SI}_{\mathcal{B}},\ \textsc{US}_{\m..."
24,SI_b UpdateSer_b\tSer_c,NaN,36,92,189,NaN,360,NaN,3895,Yes,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{SI}_{\mathcal{B}},\ \textsc{US}_{\m..."
25,CC_b\tRA_b,NaN,6,9,10,NaN,20,NaN,34,No,\(\mathcal{B}\),"$\{\textsc{CC}_{\mathcal{B}}, \, \overline{\te..."
26,PC_b\tCC_b,NaN,5,9,11,NaN,24,NaN,41,No,\(\mathcal{B}\),"$\{\textsc{PC}_{\mathcal{B}}, \, \overline{\te..."
27,SI_b\tPC_b,NaN,13,24,42,NaN,104,NaN,234,No,\(\mathcal{B}\),"$\{\textsc{SI}_{\mathcal{B}}, \, \overline{\te..."
28,Ser_b\tSI_b,26,26,97,209,1229,2358,6740,20845,No,\(\mathcal{B}\),"$\{\textsc{Ser}_{\mathcal{B}}, \, \overline{\t..."
29,RA_b\tPlumeRA_b,NaN,30,104,266,NaN,1540,NaN,5953,No,\(\mathcal{B}\),"$\{\textsc{RA}_{\mathcal{B}}, \, \overline{\te..."
30,CC_b\tPlumeCC_b,NaN,31,106,301,NaN,2067,NaN,8127,No,\(\mathcal{B}\),"$\{\textsc{CC}_{\mathcal{B}}, \, \overline{\te..."
31,PlumeCC_b\tCC_b,NaN,14,25,39,NaN,85,NaN,161,No,\(\mathcal{B}\),"$\{\textsc{TapCC}_{\mathcal{B}}, \, \overline{..."
32,CC_c\tRA_c,NaN,1,3,3,NaN,4,NaN,7,No,\(\mathcal{C}\),"$\{\textsc{CC}_{\mathcal{C}}, \, \overline{\te..."
33,PC_c\tCC_c,NaN,3,4,5,NaN,9,NaN,13,No,\(\mathcal{C}\),"$\{\textsc{PC}_{\mathcal{C}}, \, \overline{\te..."
34,SI_c\tPC_c,NaN,1,2,3,NaN,5,NaN,8,No,\(\mathcal{C}\),"$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\te..."
35,Ser_c\tSI_c,NaN,3,4,5,NaN,9,NaN,13,No,\(\mathcal{C}\),"$\{\textsc{Ser}_{\mathcal{C}}, \, \overline{\t..."
36,RA_b\tRA_c,38,726,22638,-,-,-,-,-,No,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{RA}_{\mathcal{B}}, \, \overline{\te..."
37,RA_c\tRA_b,7,12107,61,121,291,488,1542,2780,No,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{RA}_{\mathcal{C}}, \, \overline{\te..."
38,CC_b\tCC_c,33,551,11530,-,-,-,-,-,No,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{CC}_{\mathcal{B}}, \, \overline{\te..."
39,CC_c\tCC_b,6,10137,55,336,363,1741,4189,11570,No,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{CC}_{\mathcal{C}}, \, \overline{\te..."
40,PC_b\tPC_c,36,370,5964,249700,-,-,-,-,No,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{PC}_{\mathcal{B}}, \, \overline{\te..."
41,PC_c\tPC_b,7,36,80,207,519,1104,2522,2837,No,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{PC}_{\mathcal{C}}, \, \overline{\te..."
42,SI_b\tSI_c,40,609,6328,126748,-,-,-,-,No,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{SI}_{\mathcal{B}}, \, \overline{\te..."
43,SI_c\tSI_b,110,881,1078,4762,11099,40830,167987,252558,No,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\te..."
44,Ser_b\tSer_c,33,562,8063,-,-,-,-,-,No,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{Ser}_{\mathcal{B}}, \, \overline{\t..."
45,Ser_c\tSer_b,5,14,19,44,90,161,370,539,No,"\(\mathcal{B},\ \mathcal{C}\)","$\{\textsc{Ser}_{\mathcal{C}}, \, \overline{\t..."

In [5]:
select_problems = [
    ([("SI", "c"), ("UpdateSer", "c")], ("Ser", "c")), 
    ([("SI", "c"), ("UpdateSer", "b")], ("Ser", "c")), 
    ([("Ser", "b")], ("SI", "b")), 
    ([("SI", "c")], ("SI", "b")), 
]

for index, row in df_pivoted.iterrows():
    problem = parse(row['problem'])
    if problem in select_problems:
        print(f'{row['problem_str']} & \\textbf{{{row['sat']}}} & \\textbf{{{row['frameworks']}}} & \\textbf{{{row['time_ms_txn_4']}}} & \\textbf{{{row['time_ms_txn_5']}}} & \\textbf{{{row['time_ms_txn_6']}}} & \\textbf{{{row['time_ms_txn_8']}}} & \\textbf{{{row['time_ms_txn_10']}}} \\\\')
    else:
        print(f'{row['problem_str']} & {row['sat']} & {row['frameworks']} & {row['time_ms_txn_4']} & {row['time_ms_txn_5']} & {row['time_ms_txn_6']} & {row['time_ms_txn_8']} & {row['time_ms_txn_10']} \\\\')

$\{\textsc{RA}_{\mathcal{B}}, \, \overline{\textsc{CC}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B}\) & 30 & 44 & 36 & 78 & 60 \\
$\{\textsc{CC}_{\mathcal{B}}, \, \overline{\textsc{PC}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B}\) & 12 & 43 & 49 & 357 & 213 \\
$\{\textsc{PC}_{\mathcal{B}}, \, \overline{\textsc{SI}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B}\) & 16 & 44 & 51 & 120 & 282 \\
$\{\textsc{SI}_{\mathcal{B}}, \, \overline{\textsc{Ser}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B}\) & 16 & 39 & 43 & 132 & 549 \\
$\{\textsc{SI}_{\mathcal{B}},\ \textsc{US}_{\mathcal{B}}, \, \overline{\textsc{Ser}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B}\) & 37 & 57 & 87 & 488 & 957 \\
$\{\textsc{TapRA}_{\mathcal{B}}, \, \overline{\textsc{RA}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B}\) & 17 & 30 & 35 & 109 & 187 \\
$\{\textsc{RA}_{\mathcal{C}}, \, \overline{\textsc{CC}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{C}\) & 8 & 22 & 14 & 29 & 3022 \\
$\{\textsc{CC}_{\mathcal{C}}, \, \overline{\textsc{PC}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{C}\) & 7 & 27 & 8 & 22 & 24 \\
$\{\textsc{PC}_{\mathcal{C}}, \, \overline{\textsc{SI}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{C}\) & 6 & 10 & 8 & 14 & 22 \\
$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\textsc{Ser}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{C}\) & 9 & 16 & 11 & 28 & 1442 \\
$\{\textsc{SI}_{\mathcal{C}},\ \textsc{US}_{\mathcal{C}}, \, \overline{\textsc{Ser}_{\mathcal{C}}}\}$ & \textbf{Yes} & \textbf{\(\mathcal{C}\)} & \textbf{14} & \textbf{39} & \textbf{74} & \textbf{285} & \textbf{5544} \\
$\{\textsc{RA}_{\mathcal{B}}, \, \overline{\textsc{CC}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 25 & 27 & 30 & 65 & 3012 \\
$\{\textsc{RA}_{\mathcal{C}}, \, \overline{\textsc{CC}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 11 & 23 & 15 & 66 & 33 \\
$\{\textsc{CC}_{\mathcal{B}}, \, \overline{\textsc{PC}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 47 & 46 & 47 & 42 & 74 \\
$\{\textsc{CC}_{\mathcal{C}}, \, \overline{\textsc{PC}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 18 & 43 & 13 & 92 & 327 \\
$\{\textsc{PC}_{\mathcal{B}}, \, \overline{\textsc{SI}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 13 & 17 & 27 & 44 & 73 \\
$\{\textsc{PC}_{\mathcal{C}}, \, \overline{\textsc{SI}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 41 & 60 & 107 & 404 & 971 \\
$\{\textsc{SI}_{\mathcal{B}}, \, \overline{\textsc{Ser}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 33 & 62 & 112 & 351 & 3813 \\
$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\textsc{Ser}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 9 & 17 & 26 & 51 & 34 \\
$\{\textsc{SI}_{\mathcal{C}},\ \textsc{US}_{\mathcal{C}}, \, \overline{\textsc{Ser}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 10 & 61 & 100 & 83 & 2500 \\
$\{\textsc{SI}_{\mathcal{C}},\ \textsc{US}_{\mathcal{B}}, \, \overline{\textsc{Ser}_{\mathcal{C}}}\}$ & \textbf{Yes} & \textbf{\(\mathcal{B},\ \mathcal{C}\)} & \textbf{35} & \textbf{47} & \textbf{137} & \textbf{485} & \textbf{21765} \\
$\{\textsc{SI}_{\mathcal{C}},\ \textsc{US}_{\mathcal{B}}, \, \overline{\textsc{Ser}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 34 & 113 & 35 & 102 & 71 \\
$\{\textsc{SI}_{\mathcal{B}},\ \textsc{US}_{\mathcal{C}}, \, \overline{\textsc{Ser}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 45 & 170 & 115 & 389 & 6740 \\
$\{\textsc{SI}_{\mathcal{B}},\ \textsc{US}_{\mathcal{C}}, \, \overline{\textsc{Ser}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 75 & 62 & 161 & 536 & 1419 \\
$\{\textsc{SI}_{\mathcal{B}},\ \textsc{US}_{\mathcal{B}}, \, \overline{\textsc{Ser}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 36 & 92 & 189 & 360 & 3895 \\
$\{\textsc{CC}_{\mathcal{B}}, \, \overline{\textsc{RA}_{\mathcal{B}}}\}$ & No & \(\mathcal{B}\) & 6 & 9 & 10 & 20 & 34 \\
$\{\textsc{PC}_{\mathcal{B}}, \, \overline{\textsc{CC}_{\mathcal{B}}}\}$ & No & \(\mathcal{B}\) & 5 & 9 & 11 & 24 & 41 \\
$\{\textsc{SI}_{\mathcal{B}}, \, \overline{\textsc{PC}_{\mathcal{B}}}\}$ & No & \(\mathcal{B}\) & 13 & 24 & 42 & 104 & 234 \\
$\{\textsc{Ser}_{\mathcal{B}}, \, \overline{\textsc{SI}_{\mathcal{B}}}\}$ & \textbf{No} & \textbf{\(\mathcal{B}\)} & \textbf{26} & \textbf{97} & \textbf{209} & \textbf{2358} & \textbf{20845} \\
$\{\textsc{RA}_{\mathcal{B}}, \, \overline{\textsc{TapRA}_{\mathcal{B}}}\}$ & No & \(\mathcal{B}\) & 30 & 104 & 266 & 1540 & 5953 \\
$\{\textsc{CC}_{\mathcal{B}}, \, \overline{\textsc{TapCC}_{\mathcal{B}}}\}$ & No & \(\mathcal{B}\) & 31 & 106 & 301 & 2067 & 8127 \\
$\{\textsc{TapCC}_{\mathcal{B}}, \, \overline{\textsc{CC}_{\mathcal{B}}}\}$ & No & \(\mathcal{B}\) & 14 & 25 & 39 & 85 & 161 \\
$\{\textsc{CC}_{\mathcal{C}}, \, \overline{\textsc{RA}_{\mathcal{C}}}\}$ & No & \(\mathcal{C}\) & 1 & 3 & 3 & 4 & 7 \\
$\{\textsc{PC}_{\mathcal{C}}, \, \overline{\textsc{CC}_{\mathcal{C}}}\}$ & No & \(\mathcal{C}\) & 3 & 4 & 5 & 9 & 13 \\
$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\textsc{PC}_{\mathcal{C}}}\}$ & No & \(\mathcal{C}\) & 1 & 2 & 3 & 5 & 8 \\
$\{\textsc{Ser}_{\mathcal{C}}, \, \overline{\textsc{SI}_{\mathcal{C}}}\}$ & No & \(\mathcal{C}\) & 3 & 4 & 5 & 9 & 13 \\
$\{\textsc{RA}_{\mathcal{B}}, \, \overline{\textsc{RA}_{\mathcal{C}}}\}$ & No & \(\mathcal{B},\ \mathcal{C}\) & 726 & 22638 & - & - & - \\
$\{\textsc{RA}_{\mathcal{C}}, \, \overline{\textsc{RA}_{\mathcal{B}}}\}$ & No & \(\mathcal{B},\ \mathcal{C}\) & 12107 & 61 & 121 & 488 & 2780 \\
$\{\textsc{CC}_{\mathcal{B}}, \, \overline{\textsc{CC}_{\mathcal{C}}}\}$ & No & \(\mathcal{B},\ \mathcal{C}\) & 551 & 11530 & - & - & - \\
$\{\textsc{CC}_{\mathcal{C}}, \, \overline{\textsc{CC}_{\mathcal{B}}}\}$ & No & \(\mathcal{B},\ \mathcal{C}\) & 10137 & 55 & 336 & 1741 & 11570 \\
$\{\textsc{PC}_{\mathcal{B}}, \, \overline{\textsc{PC}_{\mathcal{C}}}\}$ & No & \(\mathcal{B},\ \mathcal{C}\) & 370 & 5964 & 249700 & - & - \\
$\{\textsc{PC}_{\mathcal{C}}, \, \overline{\textsc{PC}_{\mathcal{B}}}\}$ & No & \(\mathcal{B},\ \mathcal{C}\) & 36 & 80 & 207 & 1104 & 2837 \\
$\{\textsc{SI}_{\mathcal{B}}, \, \overline{\textsc{SI}_{\mathcal{C}}}\}$ & No & \(\mathcal{B},\ \mathcal{C}\) & 609 & 6328 & 126748 & - & - \\
$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\textsc{SI}_{\mathcal{B}}}\}$ & \textbf{No} & \textbf{\(\mathcal{B},\ \mathcal{C}\)} & \textbf{881} & \textbf{1078} & \textbf{4762} & \textbf{40830} & \textbf{252558} \\
$\{\textsc{Ser}_{\mathcal{B}}, \, \overline{\textsc{Ser}_{\mathcal{C}}}\}$ & No & \(\mathcal{B},\ \mathcal{C}\) & 562 & 8063 & - & - & - \\
$\{\textsc{Ser}_{\mathcal{C}}, \, \overline{\textsc{Ser}_{\mathcal{B}}}\}$ & No & \(\mathcal{B},\ \mathcal{C}\) & 14 & 19 & 44 & 161 & 539 \\

In [6]:
# new table
for index, row in df_pivoted.iterrows():
    problem = row['problem']
    if problem in problems_new_table1:
        print(f'{row['problem_str']} & {row['sat']} & {row['frameworks']} & {row['time_ms_txn_5']} \\\\')

$\{\textsc{SI}_{\mathcal{B}},\ \textsc{US}_{\mathcal{B}}, \, \overline{\textsc{Ser}_{\mathcal{B}}}\}$ & Yes & \(\mathcal{B}\) & 57 \\
$\{\textsc{SI}_{\mathcal{B}},\ \textsc{US}_{\mathcal{C}}, \, \overline{\textsc{Ser}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 170 \\
$\{\textsc{CC}_{\mathcal{B}}, \, \overline{\textsc{TapCC}_{\mathcal{B}}}\}$ & No & \(\mathcal{B}\) & 106 \\
$\{\textsc{RA}_{\mathcal{B}}, \, \overline{\textsc{RA}_{\mathcal{C}}}\}$ & No & \(\mathcal{B},\ \mathcal{C}\) & 22638 \\

In [6]:
for index, row in df_pivoted.iterrows():
    problem = parse(row['problem'])
    if problem in select_problems:
        print(f'{row['problem_str']} & {row['sat']} & {row['frameworks']} & {row['time_ms_txn_4']} & {row['time_ms_txn_6']} & {row['time_ms_txn_8']} & {row['time_ms_txn_10']} \\\\')

$\{\textsc{SI}_{\mathcal{C}},\ \textsc{US}_{\mathcal{C}}, \, \overline{\textsc{Ser}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{C}\) & 14 & 74 & 285 & 5544 \\
$\{\textsc{SI}_{\mathcal{C}},\ \textsc{US}_{\mathcal{B}}, \, \overline{\textsc{Ser}_{\mathcal{C}}}\}$ & Yes & \(\mathcal{B},\ \mathcal{C}\) & 35 & 137 & 485 & 21765 \\
$\{\textsc{Ser}_{\mathcal{B}}, \, \overline{\textsc{SI}_{\mathcal{B}}}\}$ & No & \(\mathcal{B}\) & 26 & 209 & 2358 & 20845 \\
$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\textsc{SI}_{\mathcal{B}}}\}$ & No & \(\mathcal{B},\ \mathcal{C}\) & 881 & 4762 & 40830 & 252558 \\

In [7]:
df = clean_rq2(pd.read_csv('/home/mane/vldb_measurements/data.csv'))
df

,implementation,solver,problem,num_txn,num_keys,num_values,num_sessions,candidates,avg_time_ms,min_time_ms,max_time_ms,sat,frameworks,frameworks_str,optimizations
196,default,glucose,SI_c\tSI_b,3,5,5,3,1,110,90,147,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}","\(\{ S, \, T\}\)"
197,default,glucose,SI_c\tSI_b,4,5,5,3,3,881,871,887,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}","\(\{ S, \, T\}\)"
198,default,glucose,SI_c\tSI_b,5,5,5,3,4,1078,1005,1142,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}","\(\{ S, \, T\}\)"
199,default,glucose,SI_c\tSI_b,6,5,5,3,7,4762,4730,4820,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}","\(\{ S, \, T\}\)"
200,default,glucose,SI_c\tSI_b,7,5,5,3,7,11099,10770,11376,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}","\(\{ S, \, T\}\)"
201,default,glucose,SI_c\tSI_b,8,5,5,3,8,40830,40287,41249,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}","\(\{ S, \, T\}\)"
202,default,glucose,SI_c\tSI_b,9,5,5,3,24,167987,131009,196895,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}","\(\{ S, \, T\}\)"
203,default,glucose,SI_c\tSI_b,10,5,5,3,15,252558,212545,293496,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}","\(\{ S, \, T\}\)"
240,default,glucose,Ser_b\tSI_b,3,5,5,3,0,26,19,33,UNSAT,[b],\mathcal{B},"\(\{ S, \, T\}\)"
241,default,glucose,Ser_b\tSI_b,4,5,5,3,0,26,26,27,UNSAT,[b],\mathcal{B},"\(\{ S, \, T\}\)"
242,default,glucose,Ser_b\tSI_b,5,5,5,3,0,97,90,108,UNSAT,[b],\mathcal{B},"\(\{ S, \, T\}\)"
243,default,glucose,Ser_b\tSI_b,6,5,5,3,0,209,208,210,UNSAT,[b],\mathcal{B},"\(\{ S, \, T\}\)"
244,default,glucose,Ser_b\tSI_b,7,5,5,3,0,1229,1222,1234,UNSAT,[b],\mathcal{B},"\(\{ S, \, T\}\)"
245,default,glucose,Ser_b\tSI_b,8,5,5,3,0,2358,2358,2358,UNSAT,[b],\mathcal{B},"\(\{ S, \, T\}\)"
246,default,glucose,Ser_b\tSI_b,9,5,5,3,0,6740,6448,6991,UNSAT,[b],\mathcal{B},"\(\{ S, \, T\}\)"
247,default,glucose,Ser_b\tSI_b,10,5,5,3,0,20845,20198,21290,UNSAT,[b],\mathcal{B},"\(\{ S, \, T\}\)"
269,no optimizations,glucose,SI_c\tSI_b,3,5,5,3,2,110,110,111,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\emptyset\)
270,no optimizations,glucose,SI_c\tSI_b,4,5,5,3,6,960,953,967,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\emptyset\)
271,no optimizations,glucose,SI_c\tSI_b,5,5,5,3,22,12117,11537,12721,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\emptyset\)
272,no optimizations,glucose,SI_c\tSI_b,6,5,5,3,96,77000,75979,78221,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\emptyset\)
273,no optimizations,glucose,SI_c\tSI_b,8,5,5,3,-1,300000,300000,300000,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\emptyset\)
286,no optimizations,glucose,Ser_b\tSI_b,3,5,5,3,2,50,48,54,UNSAT,[b],\mathcal{B},\(\emptyset\)
287,no optimizations,glucose,Ser_b\tSI_b,4,5,5,3,5,249,246,253,UNSAT,[b],\mathcal{B},\(\emptyset\)
288,no optimizations,glucose,Ser_b\tSI_b,5,5,5,3,18,4194,4013,4299,UNSAT,[b],\mathcal{B},\(\emptyset\)
289,no optimizations,glucose,Ser_b\tSI_b,6,5,5,3,75,31653,31276,32100,UNSAT,[b],\mathcal{B},\(\emptyset\)
290,no optimizations,glucose,Ser_b\tSI_b,8,5,5,3,-1,300000,300000,300000,UNSAT,[b],\mathcal{B},\(\emptyset\)
291,without fixed order,glucose,SI_c\tSI_b,3,5,5,3,2,158,156,160,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\{ S \}\)
292,without fixed order,glucose,SI_c\tSI_b,4,5,5,3,8,1169,1127,1190,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\{ S \}\)
293,without fixed order,glucose,SI_c\tSI_b,5,5,5,3,23,8950,8580,9289,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\{ S \}\)
294,without fixed order,glucose,SI_c\tSI_b,6,5,5,3,95,91258,90604,91672,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\{ S \}\)
295,without fixed order,glucose,SI_c\tSI_b,8,5,5,3,-1,300000,300000,300000,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\{ S \}\)
308,without fixed order,glucose,Ser_b\tSI_b,3,5,5,3,0,30,29,32,UNSAT,[b],\mathcal{B},\(\{ S \}\)
309,without fixed order,glucose,Ser_b\tSI_b,4,5,5,3,0,537,534,542,UNSAT,[b],\mathcal{B},\(\{ S \}\)
310,without fixed order,glucose,Ser_b\tSI_b,5,5,5,3,0,5493,5403,5658,UNSAT,[b],\mathcal{B},\(\{ S \}\)
311,without fixed order,glucose,Ser_b\tSI_b,6,5,5,3,0,67021,65771,68713,UNSAT,[b],\mathcal{B},\(\{ S \}\)
312,without fixed order,glucose,Ser_b\tSI_b,8,5,5,3,-1,300000,300000,300000,UNSAT,[b],\mathcal{B},\(\{ S \}\)
313,without smart search,glucose,SI_c\tSI_b,3,5,5,3,1,36,36,36,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\{ T \}\)
314,without smart search,glucose,SI_c\tSI_b,4,5,5,3,1,161,153,166,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\{ T \}\)
315,without smart search,glucose,SI_c\tSI_b,5,5,5,3,5,3554,3486,3655,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\{ T \}\)
316,without smart search,glucose,SI_c\tSI_b,6,5,5,3,3,3260,3181,3339,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\{ T \}\)
317,without smart search,glucose,SI_c\tSI_b,8,5,5,3,15,156015,155562,156607,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\{ T \}\)
318,without smart search,glucose,SI_c\tSI_b,10,5,5,3,36,229518,222982,234684,UNSAT,"[b, c]","\mathcal{B},\ \mathcal{C}",\(\{ T \}\)
331,without smart search,glucose,Ser_b\tSI_b,3,5,5,3,1,25,24,26,UNSAT,[b],\mathcal{B},\(\{ T \}\)
332,without smart search,glucose,Ser_b\tSI_b,4,5,5,3,3,561,544,594,UNSAT,[b],\mathcal{B},\(\{ T \}\)
333,without smart search,glucose,Ser_b\tSI_b,5,5,5,3,3,319,300,329,UNSAT,[b],\mathcal{B},\(\{ T \}\)
334,without smart search,glucose,Ser_b\tSI_b,6,5,5,3,8,13244,13175,13300,UNSAT,[b],\mathcal{B},\(\{ T \}\)
335,without smart search,glucose,Ser_b\tSI_b,8,5,5,3,5,10566,10340,10953,UNSAT,[b],\mathcal{B},\(\{ T \}\)
336,without smart search,glucose,Ser_b\tSI_b,10,5,5,3,11,59329,58737,59981,UNSAT,[b],\mathcal{B},\(\{ T \}\)

In [8]:
df['avg_time_ms'] = df['avg_time_ms'].replace(300000, '-')

df_pivoted = df.pivot(
    index=['problem', 'implementation'],           # Rows
    columns='num_txn',         # New columns
    values='avg_time_ms'           # Values to fill
)

# Rename columns to be more descriptive
df_pivoted.columns = [f'time_ms_txn_{col}' for col in df_pivoted.columns]

cols = [c for c in df_pivoted.columns if c.startswith("time_ms_txn_")]

# Reset index if you want 'problem' as a regular column
df_pivoted = df_pivoted.reset_index()

# Create a mapping from value to position
order_map = {val: idx for idx, val in enumerate(["default", "without fixed order", "without smart search", "no optimizations"])}

# Create temporary sort key
df_pivoted['sort_key'] = df_pivoted['implementation'].map(order_map)

# Create a mapping from value to position
order_map_problems = {val: idx for idx, val in enumerate(all_problems_flatten)}

# Create temporary sort key
df_pivoted['sort_key_problem'] = df_pivoted['problem'].map(order_map_problems)

df_pivoted = df_pivoted.sort_values(by=['sort_key_problem', 'sort_key']).reset_index(drop=True)
df_pivoted["problem_str"] = df_pivoted["problem"].apply(problem_as_latex)

# Drop the temporary column
df_pivoted = df_pivoted.drop('sort_key', axis=1)
df_pivoted = df_pivoted.drop('sort_key_problem', axis=1)

df_pivoted

,problem,implementation,time_ms_txn_3,time_ms_txn_4,time_ms_txn_5,time_ms_txn_6,time_ms_txn_7,time_ms_txn_8,time_ms_txn_9,time_ms_txn_10,problem_str
0,Ser_b\tSI_b,default,26,26,97,209,1229,2358,6740,20845,"$\{\textsc{Ser}_{\mathcal{B}}, \, \overline{\t..."
1,Ser_b\tSI_b,without fixed order,30,537,5493,67021,NaN,-,NaN,NaN,"$\{\textsc{Ser}_{\mathcal{B}}, \, \overline{\t..."
2,Ser_b\tSI_b,without smart search,25,561,319,13244,NaN,10566,NaN,59329,"$\{\textsc{Ser}_{\mathcal{B}}, \, \overline{\t..."
3,Ser_b\tSI_b,no optimizations,50,249,4194,31653,NaN,-,NaN,NaN,"$\{\textsc{Ser}_{\mathcal{B}}, \, \overline{\t..."
4,SI_c\tSI_b,default,110,881,1078,4762,11099,40830,167987,252558,"$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\te..."
5,SI_c\tSI_b,without fixed order,158,1169,8950,91258,NaN,-,NaN,NaN,"$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\te..."
6,SI_c\tSI_b,without smart search,36,161,3554,3260,NaN,156015,NaN,229518,"$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\te..."
7,SI_c\tSI_b,no optimizations,110,960,12117,77000,NaN,-,NaN,NaN,"$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\te..."

In [9]:
for problem_name, group in df_pivoted.groupby('problem', sort=False):
    s = f"\\midrule\n\\multirow{{4}}{{*}}{{{problem_as_latex(problem_name)}}} "
    for _, row in group.iterrows():
        s += f'& {optimizations(row['implementation'])} & {row['time_ms_txn_4']} & {row['time_ms_txn_6']} & {row['time_ms_txn_8']} & {row['time_ms_txn_10']}\\\\\n'
    print(s,end='')

\midrule
\multirow{4}{*}{$\{\textsc{Ser}_{\mathcal{B}}, \, \overline{\textsc{SI}_{\mathcal{B}}}\}$} & \(\{ S, \, T\}\) & 26 & 209 & 2358 & 20845\\
& \(\{ S \}\) & 537 & 67021 & - & nan\\
& \(\{ T \}\) & 561 & 13244 & 10566 & 59329\\
& \(\emptyset\) & 249 & 31653 & - & nan\\
\midrule
\multirow{4}{*}{$\{\textsc{SI}_{\mathcal{C}}, \, \overline{\textsc{SI}_{\mathcal{B}}}\}$} & \(\{ S, \, T\}\) & 881 & 4762 & 40830 & 252558\\
& \(\{ S \}\) & 1169 & 91258 & - & nan\\
& \(\{ T \}\) & 161 & 3260 & 156015 & 229518\\
& \(\emptyset\) & 960 & 77000 & - & nan\\